@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
}

body{
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    flex-flow: row nowrap;
}

section{
    background-color: #1E1E1E;
    color: #F1F1F1;
    padding: 36px;
    flex: auto;
}

/* HEADER */
h1{
    margin: 0;
    font-weight: 600;
}

#subtitulo{
    margin: 0;
    color: #888888;
    padding-left: 2px;
}

/* CONTAINERS */
div{
    background-color: #2c2c2c;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);

    margin: 20px 0;
}

/* CONTEINER DE CABEÇALHO */
#filtro{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

section>#filtro>p{
    background-image: linear-gradient(to right, #902eca 10%, #6E17A6 100%);
    padding: 12px 20px;
    border-radius: 12px;
    
    display: flex;
    align-items: center;
}

/* FLEX BOX DO PARÂMETRO E RESULTADO */
.conteiner{
    background-color: inherit;
    box-shadow: none;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* CONTAINER DE PARÂMETRO */
#simulacao{
    flex-basis: 420px;
}

div#simulacao>form{
    display: flex;
    flex-flow: column nowrap;
}

h2{
    font-size: 1.3em;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
}

input[type=number]{
    background-color: #2c2c2c;
    color: #F1F1F1;
    padding: 12px 20px;
    border: 1px solid #902eca;
    border-radius: 12px;
    margin-bottom: 20px;
}

form>p{
    margin-bottom: 8px;
    color: #a9a9a9;
}

button{
    background-image: linear-gradient(to right, #902eca 10%, #6E17A6 100%);
    flex: auto;
    color: #F1F1F1;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 12px;
    border: 0;
}

/* RESULTADOS */
#resultados{
    flex-basis: 420px;
}

#investido{
    background-image: linear-gradient(to right, #902eca 10%, #6E17A6 100%);
    padding: 16px 20px;
}
#juros{
    background-image: linear-gradient(to right, #22C55E, #158a40);
    padding: 16px 20px;
}
#final{
    background-image: linear-gradient(to right, #3367D1, #2412AB);
    padding: 16px 20px;
}

.real{
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 8px;
}

/* DICAS */
 #dicas{
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: inherit;
    box-shadow: none;
} 

.dica{
    background-color: inherit;
    box-shadow: none;
    text-align: center;
    

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 240px;

}
.dica>p{
    margin: 10px 0;
}

#seta, #calendario, #alvo{
    font-size: 2.5em;
    border-radius: 50%;
}

#seta{
    background-color: #DCFCE7;
    color: #16A34A;
   
}

#calendario{
    background-color: #E5DAF0;
    color: #902eca;
    
}

#alvo{
    background-color: #DBEAFE;
    color: #2412AB;
    
}