@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
}

body{
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main{
    /* Direcionando o MAIN para ficar ao lado do sidebar */
    display: flex;
    flex-flow: row nowrap;
}

section{
    background-color: #1E1E1E;
    color: #F1F1F1;
    padding: 36px;
    flex: auto;
}

/* HEADER */
h1{
    margin: 0;
    font-weight: 600;
}

#subtitulo{
    margin: 0;
    color: #888888;
    padding-left: 2px;
}


/* FLEX BOX DO PARÂMETRO E RESULTADO */
article#conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


#simulacao, #resultados{
    background-color: #2c2c2c;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);
    margin: 20px 0;
}

/* CONTAINER DE SIMULAÇÃO */
section#simulacao>form{
    display: flex;
    flex-flow: column nowrap;
}

h2{
    font-size: 1.3em;
    margin-bottom: 20px;

    /* CENTRALIZA A CALC E O H2 */
    display: flex;
    align-items: center;
}

input[type=number]{
    background-color: #2c2c2c;
    color: #F1F1F1;
    padding: 12px 20px;
    border: 1px solid #902eca;
    border-radius: 12px;
    margin-bottom: 20px;
}

section#simulacao>form>label{
    margin-bottom: 8px;
    color: #a9a9a9;
}

button{
    background-image: linear-gradient(to right, #902eca 10%, #6E17A6 100%);
    flex: auto;
    color: #F1F1F1;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 12px;
    border: 0;
}

/* RESULTADOS */
 #resultados{
    margin-right: 0;
} 

#investido, #juros, #final{
    padding: 16px 20px;
    border-radius: 12px;
    margin: 20px 0;
}

div#investido{
    background-image: linear-gradient(to right, #902eca 10%, #6E17A6 100%);
}

div#juros{
    background-image: linear-gradient(to right, #22C55E, #158a40);
}

div#final{
    background-image: linear-gradient(to right, #3367D1, #2412AB);
}

p.real{
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 8px;
}

/* DICAS */
aside{
    background-color: #2c2c2c;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);
}

 #dicas{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

    background-color: inherit;
    padding: 0;
} 

.dica{
    text-align: center;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 220px;
}


#seta, #calendario, #alvo{
    font-size: 2em;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 10px;
    height: 50px;
    width: 50px;
}

#seta{
    background-color: #DCFCE7;
    color: #16A34A;
   
}

#calendario{
    background-color: #E5DAF0;
    color: #902eca;
    
}

#alvo{
    background-color: #DBEAFE;
    color: #2412AB;
    
}

.dica>p{
    margin-top: 10px;
    font-size: 0.8em;
}

