@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* SIDEBAR PARA PC */

nav{
    
    background-color: #232323;
    width: 240px;
    height: 100vh;
    padding: 0 15px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

img{
    width: 220px;
    padding: 0 5px;
}

ul{
    list-style-type: none;
    text-align: left;   
    padding: 0;
}

li{
    color: #A9A9A9;
    padding: 12px 10px;

    display: flex;
    align-items: center;
}

li:hover{
    background-color: #2C2C2C;
    border-radius: 12px;
    color: white;
}

span{
    padding-right: 15px;
    font-size: 1.2em;
}

a{
    color: #a9a9a9;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    nav{
        display: none;
    }
}

